/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
body{
  background: #1F2124;
}
#tepe{
  background-color: skyblue;
}
#tepe2{
  background: #1F2124;
  padding: 10px;
}
#tepe3{
  background: #1F2124;
  padding: 10px;
}
.menuh{
  margin: 10px;
  color: white; 
  
}
